Lab1/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Lab1/obj/Release/Lab1.csproj.AssemblyReference.cache
Lab1/obj/Release/Lab1_MarkupCompile.cache
Lab1/obj/Release/Lab1_MarkupCompile.lref
Lab1/obj/Release/MainWindow.baml
